h1 {
    text-align: center;
    color: #205B7A;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F8FB;
}

.container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    width: 250px;
    border: 2px solid  #000000;
    background-color: #A2BBCF;
    border-radius: 4px;
    
  
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    
}

button {
    height: 50px;
    width: 50px;
    font-size: 16px;
    flex-basis: auto;
    background-color: #205B7A;
    color: #FFFFFF;
    border: none;
    margin: 4px;
    
}

button:hover {
    background: #1D3849;
}

.display {
    background-color:  #FFFFFF ;
    color: #142F44;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: end;
    align-items: end;
    
}

.text {
    font-size: 24px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.symbol {
    background: #F49F43;
    color: #FFFFFF;
}